<div class="container">
  <div class="row">
    <div class="col-md-8">
         <h2 class="concept-heading">Concept</h2>
          <p class="lead">日本茶について共有して生活をワンランクアップさせましょう！</p>
            <p>日本茶は産地や淹れ方によって大幅に味が異なり、好みも人それぞれです。 <br>
                最近では海外では日本茶が人気なものの、日本人の日本茶離れも進んでおり、ゆっくり自宅でお茶を楽しむ時間を持つ人も少ないようです。<br>
                そこで、ユーザー同士でお茶の様々な飲み方や楽しみ方、食べ合わせ、豆知識、困っていることなど、<br>
                日本茶の情報交換をして暮らしをより豊かにしていこう！というサイトとなっております。
            </p>
      </div>
      <div class="col-md-4">
        <img src="img/photo-1580419423277-f5bd81b32a05.jpeg",alt="tea">
      </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <img src="img/tea-54e6d04448_640.jpg", alt="tea">
    </div>
    <div class="col-md-5">
      <h1>T+nagomiとは</h1>
      <p>Tはお茶を表すTea,<br>
        日々の生活にお茶＋(プラス)して共有することで、<br>
        和みましょうということを表しています。</p>
    </div>
    <div class="row">
      <div class=col-md-8>
        <p class="lead">お茶の知識がある人も、そうでない人も</p>
        <p>お茶の事をたくさん知っている人は、その日々の生活や豆知識を投稿してみましょう！<br>
            あまり知らない、という人は、他の人の投稿を検索したり、困ったことや知りたい事を投稿してコメントをもらい、<br>
            お茶の知識をもらいましょう！</p>
      </div>
      <div class="col-md-4">
        <img src="img/istockphoto-876524244-170x170.jpg",alt="tea">
      </div>
    </div>
  </div>
</div>
