<div class="container">
  <h2 style="text-align: center;">How to use?</h2>
  <div class="row about-box">
    <div class="box-text col-xs-5">
      <ul><strong>1.投稿する</strong></ul>
      <li>お茶の飲み方や楽しみ方、食べ合わせ、豆知識など、<br>
      情報を共有したいときに投稿しましょう</li>
      <li>写真の投稿、タグ付けができます</li>
      <li>お茶についての困ったことがあった時も投稿して共有ができます。</li>
      <li>「お悩み」タグを付けてコメントをもらいましょう</li>
    </div>
    <div class="col-xs-5">
      <%= image_tag "/images/about-post.jpeg",:alt => 'post',size: "400x300" %>
    </div>
  </div>
  <div class="row about-box">
    <div class="col-xs-5">
      <%= image_tag "/images/about-friend.jpeg",:alt => 'friends',size: '400x300' %>
    </div>
    <div class="box-text col-xs-5">
      <ul><strong>2.友達を作る</strong></ul>
      <li>気になるユーザーがいたら、フォローして繋がることができます。</li>
      <li>投稿にいいねやコメントをして仲良くなりましょう！</li>
    </div>
  </div>
  <div class="row about-box">
    <div class="box-text col-xs-5">
      <ul><strong>3.検索する</strong></ul>
      <li>お茶の種類、タグで投稿を絞り込むことができます。</li>
      <li>検索したいワードがあれば、文字を入力しての検索もできます。</li>
      <li>手土産、贈答品にお茶を選ぶ際の知識として、<br>
      日々の暮らしのお茶選び、淹れ方の参考に、検索機能を活用しましょう！</li>
    </div>
      <div class="col-xs-5">
        <%= image_tag "/images/about-search.jpg",:alt => 'search',size: '400x300' %>
      </div>
  </div>
  <div class="row about-box">
    <div class="col-xs-5">
      <%= image_tag "/images/about-management.jpg",:alt => 'management',size: '400x300' %>
    </div>
    <div class="box-text col-xs-5">
      <ul><strong>4.管理する</strong></ul>
      <li>有用なお茶の情報や後から見返したい投稿には、<br>
      ブックマークをして管理しましょう</li>
      <li>後から見返しやすいように、<br>
      自分の投稿にもブックマークができます。</li>
      <li>マイページから一覧が確認できます</li>
    </div>
  </div>
</div>
