<h1>Teas 投稿一覧</h1>
<% @posts.each do |post| %>
  <%= attachment_image_tag post, :post_image, :fill, 10, 10, format: 'jpeg',fallback: "no_image.jpg" %>
  <!--user/showに遷移したい-->
  <%= link_to post.user.name,user_path(post.user_id) %>
  <%= link_to post.title,post_path(post) %>
  <div class="row" >
  <%= render 'posts/bookmark',post: post %>
  </div>
<% end %>

