<div class="container"> 
<h2><%= @tag.tag_name %>タグのついた投稿一覧</h2>
 <!--タグリスト-->
  <div class="row">
    <div class="col-md-3">
      <%= render 'posts/kind',post: @post %>
      <%= render 'posts/tag_list',tag_list: @tag_list %>
    </div>
  <!--投稿一覧-->
    <div class="col-md-9">
      <%= render 'posts/post_index',posts: @posts, user: @user %>
    </div>
    <%#= paginate @posts %>
  </div>
</div>