/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
	position: relative;
	padding:0 0 5px 0;
	font-size:40px;
	border-bottom: #BFBFBF dotted 1px;
}
h2:first-letter{
	font-size:55px;
	color:#FFCC00;
}
body{
  background-color:#EEEEEE;
  font-family: 'Barlow', sans-serif;
}

header{
  background-color:#CCFF99;
  padding-bottom: 0px;
}
footer {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 120px;
  background-color: #CCFF99;
}

.footer-text {
  color: #fff;
}
//フォントの変更
main{
  margin-top: 0px;
  font-family: 'Barlow', sans-serif;
}
p{
  font-family: 'Barlow', sans-serif;
  line-height: 4em;
}
// 画像の角を丸く
.border_radius {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}