// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual{
  background-image: url(img/tea-54e3d0454d_640.jpeg);
  width: 100%;
  height: 600px;
  background-size: 100% 100%;
}
.read-more{
  text-align: right;
}
.main-visual-content{
  text-align: center;
  color: #fff;
}
.top-title{
  font-size: 60px;
}
.rank{
  text-align: center;
}